@model ProductVM

<form method="post">
    <div>
        <div>
            <h3 class="text-center">Список товаров</h3>
        </div>
        <div class="row">
            <div class="border">
                @await Html.PartialAsync("AdminPanel")
            </div>
            <div class="col-9 border">
                <div>
                    <div>
                        <h4>Изменить товар:</h4>
                    </div>
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Id:</span>
                            </div>
                            <input class="form-control" asp-for="Id" value="@Model.Id" readonly />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название:</span>
                            </div>
                            <input class="form-control" maxlength="100" asp-for="Name" value="@Model.Name" />
                        </div>
                        <div>
                            <span asp-validation-for="Name" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Цена:</span>
                            </div>
                            <input class="form-control" maxlength="7" asp-for="Cost" value="@Model.Cost" />
                        </div>
                        <div>
                            <span asp-validation-for="Cost" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Описание:</span>
                            </div>
                            <input class="form-control" maxlength="250" asp-for="Description" value="@Model.Description" />
                        </div>
                        <div>
                            <span asp-validation-for="Description" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Картинка:</span>
                            </div>
                            <input class="form-control" maxlength="250" asp-for="Image" value="@Model.Image" readonly/>
                        </div>
                        <div>
                            <span asp-validation-for="Image" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Edit" type="submit">Изменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>