@model OnlineShopWebApp.Areas.Admin.Models.ChangePasswordVM

<form method="post">
    <div>
        <div>
            <h3 class="text-center">Редактирование пользователя @Model.UserName</h3>
        </div>
        <div class="row">
            <div class="border">
                @await Html.PartialAsync("AdminPanel")
            </div>
            <div class="col-9 border">
                <div>
                    <div>
                        <h4>Смена пароля:</h4>
                    </div>
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID пользователя:</span>
                            </div>
                            <input class="form-control" asp-for="Id" value="@Model.Id" readonly />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Имя аккаунта:</span>
                            </div>
                            <input class="form-control" asp-for="UserName" value="@Model.UserName" readonly />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Пароль:</span>
                            </div>
                            <input class="form-control" type="password" maxlength="250" asp-for="Password" value="@Model.Password" />
                        </div>
                        <div>
                            <span asp-validation-for="Password" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Подтверждение пароля:</span>
                            </div>
                            <input class="form-control" type="password" maxlength="250" asp-for="PasswordConfirm" value="@Model.PasswordConfirm" />
                        </div>
                        <div>
                            <span asp-validation-for="PasswordConfirm" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="font-weight-bold" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div>
                        <div>
                            <a class="btn btn-secondary" asp-area="Admin" asp-controller="User" asp-action="Info" asp-route-Id="@Model.Id">Назад</a>
                            <button class="btn btn-success" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" type="submit">Изменить</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</form>