@model UserVM
@{
    ViewData["Title"] = "Заказ № " + @Model.Id;
}
<form method="post">
    <div>
        <div>
            <h3 class="text-center">Список пользователей</h3>
        </div>
        <div class="row">
            <div class="border">
                @await Html.PartialAsync("AdminPanel")
            </div>
            <div class="col-9 border">
                <div>
                    <h4>Информация о пользователе:</h4>
                </div>
                <div>
                    <div>ID пользователя: @Model.Id</div>
                    <div>Логин аккаунта: @Model.UserName</div>
                    <div>Фамилия: @Model.SecondName</div>
                    <div>Имя: @Model.FirstName</div>
                    <div>email: @Model.Email</div>
                    <div>Дата создания: @Model.DateCreate</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Действия
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.Id">Смена пароля</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id">Редактировать данные</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangeRole" asp-route-id="@Model.Id">Права доступа</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>